{%  extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{%  endblock %}

{% block content %}


<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" method="post" class="bg-light p-5 contact-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {% for field in form  %}
                            <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                            {{ field.help_text }}
                            <ul>
                                {% for error in field.errors %}

                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
                            <a href="{%  url 'accounts:forget_password' %}" class="forgot-password">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            <a href="#" class="">Don't have an account? Sign up</a>
                        </div>
			<div class="form-group center">
                            <a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fa fa-facebook social-login fb-color"></i></a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fa fa-google-plus social-login google-color"></i></a>
                        </div>
                    </form>

                </div>
            </div>
</section>
{% endblock %}
