{%  extends 'base.html' %}


{% block content %}

<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <div class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <h4 class="reset center">Reset password</h4>
                            <h6 class="center">Your password changed </h6>
                            <a href="{% url 'stories:home_page' %}" class="btn btn-warning">Go to Home Page</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}