.header{
    height: 200px;
    background-color: aquamarine;
    

}

.nav{
    height: 220px;
    background-color: aquamarine;
}

.sec{
    height: 440px;
    background-color: aquamarine;
}

.footer{
    height: 200px;
    background-color: aquamarine;
}

