body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;
    overflow-x: hidden;
}
main{
    transition: 0.5s;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    background-color: #fff;
    opacity: 0.9;
}
main.opacity{
    width: 100%;
}


nav{
    flex: 3;
}

header{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.logo{
    flex: 2;
}
.nav-link{
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
.nav-link a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
}

.nav-link:hover .dropdown{
    display: block;
}
.nav-link .dropdown{
    position: absolute;
    left: 0;
    top: 40px;
    min-width: 14.375rem;
    padding: 0.625rem 0;
    background-color: #fff;
    font-size: 0.8125rem;
}

.dropdown li {
    font-size: 1rem;
    padding: .5rem 0;
    color: #212529;
}

.dropdown::before{
    content: '';
    position: absolute;
    top: -21px;
    left: 3px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: -4px;
    display: inline-block;
    border: 10px solid blue;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.dropdown li >a{
    padding: 0.625rem;
    color: #2c2e30;
    font-weight: 700;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.nav-link{
    position: relative;
}
.triangle::after{
    content: '';
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: -4px;
    display: inline-block;
    border: 5px solid #d3d3d3;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    
}
#presentation{
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.text{
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
    color: #222;
}
.text .h1-ligth{
    font-weight: 300;
}
.desc{
    font-size: 16px;
    line-height: 1.6;
}

.buttons button{
    padding: 16px 25px;
    background-color: white;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}

.get-app{
    color: #F74B54;
    border: 2px solid #F74B54;
}
.learn-more{
    border: 2px solid #0167da;
    color: #0167da;
}
.close{
    justify-content: flex-end;
    display: none;
    padding: .75rem 1.25rem;
}
.close span{
    font-size: 30px;
    font-weight: 400;
    color: #565656;
}


.short-text{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize!important;
}

.show-nav{
    right: 0;
}
.image img{
    animation: 2s top-buttom infinite;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;

}
.nav-link .dropdown{
    display: none;
}

.rectangle{
    height: 190%;
    width: 100%;
    border-radius: 120px;
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: 0;
    transform: translate(35%,-28%) rotate(-35deg);
    background: linear-gradient(-47deg, #F956CB 0%, #F74B54 100%);
}

@keyframes top-buttom{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.hamburger{
    display: none;
}

.hamburger .line{
    width: 25px;
    height: 3px;
    background-color: white;
}

.hamburger .line:nth-child(2){
    margin: 6px 0;
}

@media screen and (max-width: 992px){
    .hamburger{
        display: block;
    }

    nav{
        /* display: none; */
        background-color: #fff;
        position: fixed;
        right: -350px;
        top: 0;
        bottom: 0;
        z-index: 100;
        width: 20rem;
        transition: .5s ease-in;
    }
    .close{
        display: flex;
    }
    .nav-links{
        flex-direction: column;

    }
    .nav-link{
        padding: 0.75rem 1.25rem;
    }
    
    .rectangle{
        height: 130%;
    }
    #presentation{
        height: 190vh;
        flex-direction: column;
    }

}
@media screen and (min-width: 992px){
    #presentation{
        height: 120vh;
    }
}

@media screen and (min-width: 1255px){
    #presentation{
        height: 90vh;
    }
    
}

@media screen and (max-width: 600px){
    #presentation{
        height: 200vh;
    }
}
